@charset "utf-8";
@use "sass:color";

$black: hsl(233, 18%, 5%);
$black-bis: color.scale($black, $lightness: 2%);
$black-ter: color.scale($black-bis, $lightness: 2%);
$white: color.invert($black, $weight: 100%);

$dark: $black;
$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$blue: hsl(228, 71%, 44%);

$border: $white;
$border-hover: color.scale($border, $lightness: -10%);

$table-color: $white;
$table-background-color: $black;
$table-cell-heading-color: $white;
$table-head-cell-color: $white;
$table-foot-cell-color: $white;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/grid/columns.sass";

$input-color: $white;
$input-placeholder-color: $grey-light;
$input-hover-color: $grey;
$input-focus-color: $white;
$input-focus-border-color: $primary;
$input-arrow: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);

@import "bulma/sass/form/_all.sass";

::placeholder {
    opacity: 1;
}

#img-profile {
    border-radius: 10px;
}

#about-hr {
    margin-top: 0;
    margin-bottom: .5rem;
}

@include touch {
    #buttons {
        margin-right: 0.5rem;
    }
}